@model Server
@{
    ViewData["Title"] = "Add server";
}

<partial name="~/Views/Partials/Server/_Tab.cshtml"/>

<form id="inputs-items" class="inputs-items" asp-controller="Server" asp-action="Add" method="post">

    <div class="row">

        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="@Model.Name"></label>
                <input asp-for="@Model.Name" class="form-control"/>
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="@Model.IP"></label>
                <input asp-for="@Model.IP" class="form-control"/>
                <span asp-validation-for="@Model.IP" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="@Model.MaxClients"></label>
                <input asp-for="@Model.MaxClients" class="form-control"/>
                <span asp-validation-for="@Model.MaxClients" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="@Model.RootPassword"></label>
                <input asp-for="@Model.RootPassword" class="form-control"/>
                <span asp-validation-for="@Model.RootPassword" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="@Model.HTTPPort"></label>
                <input asp-for="@Model.HTTPPort" class="form-control"/>
                <span asp-validation-for="@Model.HTTPPort" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="@Model.HTTPSPort"></label>
                <input asp-for="@Model.HTTPSPort" class="form-control"/>
                <span asp-validation-for="@Model.HTTPSPort" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="@Model.RTMPPort"></label>
                <input asp-for="@Model.RTMPPort" class="form-control"/>
                <span asp-validation-for="@Model.RTMPPort" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="@Model.SSHPort"></label>
                <input asp-for="@Model.SSHPort" class="form-control"/>
                <span asp-validation-for="@Model.SSHPort" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="@Model.IsRTMP"></label>
                <input asp-for="@Model.IsRTMP"/>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <button class="btn btn-success" type="submit"><i class="fa fa-plus"></i> Add</button>
            </div>
        </div>

    </div>

</form>
