@model Server
@{
    ViewData["Title"] = "Add server";
}

@section styles {
    <link rel="stylesheet" href="~/assets/style/server.css"/>
}

<main>
    <div class="main-content-container ">
        <nav class="server-box-nav ">
            <button class="server-button-active">
                <a asp-controller="Server" asp-action="Manage">
                    <svg xmlns="http://www.w3.org/2000/svg " width="45 " height="30 " viewBox="0 0 45 30 ">
                        <path id="Icon_awesome-eye " data-name="Icon awesome-eye " d="M44.728,18.359A25.058,25.058,0,0,0,22.5,4.5,25.061,25.061,0,0,0,.272,18.36a2.527,2.527,0,0,0,0,2.28A25.058,25.058,0,0,0,22.5,34.5,25.061,25.061,0,0,0,44.728,20.64,2.527,2.527,0,0,0,44.728,18.359ZM22.5,30.75A11.25,11.25,0,1,1,33.75,19.5,11.25,11.25,0,0,1,22.5,30.75ZM22.5,12a7.446,7.446,0,0,0-1.977.3A3.738,3.738,0,0,1,15.3,17.523,7.483,7.483,0,1,0,22.5,12Z "
                            transform="translate(0 -4.5) " fill="#9c9c9c "/>
                    </svg>                      
                </a>
            </button>
        </nav>
        <div id="inputs-container " class="inputs-container ">
            <h2>New Server</h2>
            <form id="inputs-items" class="inputs-items" asp-controller="Server" asp-action="Add" method="post">

                <div class="input-container ">
                    <label asp-for="@Model.Name"></label>
                    <input asp-for="@Model.Name"/>
                    <span asp-validation-for="@Model.Name"></span>
                </div>
                <div class="input-container ">
                    <label asp-for="@Model.IP"></label>
                    <input asp-for="@Model.IP">
                    <span asp-validation-for="@Model.IP"></span>
                </div>
                <div class="input-container ">
                    <label asp-for="@Model.MaxClients"></label>
                    <input asp-for="@Model.MaxClients">
                    <span asp-validation-for="@Model.MaxClients"></span>
                </div>
                <div class="input-container ">
                    <label asp-for="@Model.RootPassword"></label>
                    <input asp-for="@Model.RootPassword">
                    <span asp-validation-for="@Model.RootPassword"></span>
                </div>
                <div class="input-container ">
                    <label asp-for="@Model.HTTPPort"></label>
                    <input asp-for="@Model.HTTPPort">
                    <span asp-validation-for="@Model.HTTPPort"></span>
                </div>
                <div class="input-container ">
                    <label asp-for="@Model.HTTPSPort"></label>
                    <input asp-for="@Model.HTTPSPort">
                    <span asp-validation-for="@Model.HTTPSPort"></span>
                </div>
                <div class="input-container ">
                    <label asp-for="@Model.RTMPPort"></label>
                    <input asp-for="@Model.RTMPPort">
                    <span asp-validation-for="@Model.RTMPPort"></span>
                </div>
                <div class="input-container ">
                    <label asp-for="@Model.SSHPort"></label>
                    <input asp-for="@Model.SSHPort"/>
                    <span asp-validation-for="@Model.SSHPort"></span>
                </div>
                <div class="input-container checkbox-container">
                    <input asp-for="@Model.IsRTMP">
                    <div id="loadbalance-div" class="checkbox">
                        <svg id="loadbalance-icon" class="unchecked checked" xmlns="http://www.w3.org/2000/svg" width="39.403" height="30" viewBox="0 0 39.403 30">
                            <path id="Icon_material-done" data-name="Icon material-done" d="M17.637,32.131l-9.4-9.4L5.1,25.863,17.637,38.4,44.5,11.534,41.369,8.4Z" transform="translate(-5.1 -8.4)" fill="#9c9c9c"/>
                        </svg>
                    </div>
                    <label asp-for="@Model.IsRTMP"></label>
                </div>
            </form>
            <div class="action-buttons ">
                <button onclick="$('form').submit()">
                    <svg xmlns="http://www.w3.org/2000/svg " width="45 " height="65 " viewBox="0 0 45 65 ">
                        <g id="Group_20 " data-name="Group 20 " transform="translate(-1016 -730) ">
                        <g id="Group_19 " data-name="Group 19 " transform="translate(3) ">
                            <g id="Ellipse_6 " data-name="Ellipse 6 " transform="translate(1013 730) " fill="none " stroke="#e2e2e2 " stroke-width="1.5 ">
                            <circle cx="22.5 " cy="22.5 " r="22.5 " stroke="none "/>
                            <circle cx="22.5 " cy="22.5 " r="21.75 " fill="none "/>
                            </g>
                            <path id="Icon_material-add-box " data-name="Icon material-add-box " d="M17.833,4.5H6.167A1.666,1.666,0,0,0,4.5,6.167V17.833A1.666,1.666,0,0,0,6.167,19.5H17.833A1.672,1.672,0,0,0,19.5,17.833V6.167A1.672,1.672,0,0,0,17.833,4.5Zm-1.667,8.333H12.833v3.333H11.167V12.833H7.833V11.167h3.333V7.833h1.667v3.333h3.333Z "
                            transform="translate(1023.5 740.5) " fill="#21b343 "/>
                        </g>
                        <text id="Add " transform="translate(1029 781) " fill="#9c9c9c " font-size="10 " font-family="SegoeUI-Light, Segoe UI " font-weight="300"><tspan x="0 " y="11 ">Add</tspan></text>
                        </g>
                    </svg>                      
                </button>
            </div>
        </div>
    </div>
    <nav class="main-nav-bar ">
        <figure>
            <svg id="Component_14_2 " data-name="Component 14 – 2 " xmlns="http://www.w3.org/2000/svg " width="100 " height="100 " viewBox="0 0 100 100 ">
                <g id="Ellipse_6 " data-name="Ellipse 6 " fill="rgba(33,179,67,0.1) " stroke="#e2e2e2 " stroke-width="3 ">
                    <circle cx="50 " cy="50 " r="50 " stroke="none "/>
                    <circle cx="50 " cy="50 " r="48.5 " fill="none "/>
                </g>
                <g id="Icon_feather-server " data-name="Icon feather-server " transform="translate(37.5 40.38) ">
                    <path id="Path_10 " data-name="Path 10 " d="M5.371,3H24.342c1.31,0,2.371.784,2.371,1.75v3.5c0,.966-1.062,1.75-2.371,1.75H5.371C4.062,10,3,9.216,3,8.25V4.75C3,3.784,4.062,3,5.371,3Z " transform="translate(-3 -3) " fill="none
            " stroke="#21b343 " stroke-linecap="round " stroke-linejoin="round " stroke-width="1.5 "/>
                    <path id="Path_11 " data-name="Path 11 " d="M5.371,21H24.342c1.31,0,2.371.784,2.371,1.75v3.5c0,.966-1.062,1.75-2.371,1.75H5.371C4.062,28,3,27.216,3,26.25v-3.5C3,21.784,4.062,21,5.371,21Z " transform="translate(-2.7 -8) " fill="none
            " stroke="#21b343 " stroke-linecap="round " stroke-linejoin="round " stroke-width="1.5 "/>
                    <path id="Path_12 " data-name="Path 12 " d="M9,9H9 " transform="translate(-5 -5.931) " fill="none " stroke="#21b343 " stroke-linecap="round " stroke-linejoin="round " stroke-width="1.5 "/>
                    <path id="Path_13 " data-name="Path 13 " d="M0,0H0 " transform="matrix(-0.438, -0.899, 0.899, -0.438, 5.087, 16.713) " fill="none " stroke="#21b343 " stroke-linecap="round " stroke-linejoin="round " stroke-width="1.5 "/>
                </g>
            </svg>                  
        </figure>
        <figure>
            <svg id="Component_13_2 " data-name="Component 13 – 2 " xmlns="http://www.w3.org/2000/svg " width="100 " height="100 " viewBox="0 0 100 100 ">
                <g id="Ellipse_11 " data-name="Ellipse 11 " fill="none " stroke="#e2e2e2 " stroke-width="3 ">
                    <circle cx="50 " cy="50 " r="50 " stroke="none "/>
                    <circle cx="50 " cy="50 " r="48.5 " fill="none "/>
                </g>
                <g id="Icon_feather-package " data-name="Icon feather-package " transform="translate(38.663 37.33) ">
                    <path id="Path_6 " data-name="Path 6 " d="M10.334,5.614,0,0 " transform="matrix(0.999, 0.052, -0.052, 0.999, 6.794, 3.022) " fill="none " stroke="#fda268 " stroke-linecap="round " stroke-linejoin="round " stroke-width="2 "/>
                    <path id="Path_7 " data-name="Path 7 " d="M27.241,20.675v-10.1a2.525,2.525,0,0,0-1.263-2.184l-8.844-5.05a2.528,2.528,0,0,0-2.527,0L5.763,8.391A2.525,2.525,0,0,0,4.5,10.575v10.1a2.525,2.525,0,0,0,1.263,2.184l8.844,5.05a2.528,2.528,0,0,0,2.527,0l8.844-5.05a2.525,2.525,0,0,0,1.263-2.184Z
            " transform="translate(-4.5 -3.003) " fill="none " stroke="#fda268 " stroke-linecap="round " stroke-linejoin="round " stroke-width="2 "/>
                    <path id="Path_8 " data-name="Path 8 " d="M4.905,10.44,15.87,18.015,26.836,10.44 " transform="translate(-4.5 -4.57) " fill="none " stroke="#fda268 " stroke-linecap="round " stroke-linejoin="round " stroke-width="2 "/>
                    <path id="Path_9 " data-name="Path 9 " d="M18,29.922V18 " transform="translate(-6.63 -4.555) " fill="none " stroke="#fda268 " stroke-linecap="round " stroke-linejoin="round " stroke-width="2 "/>
                </g>
            </svg>     
        </figure>
        <figure>
            <svg id="Component_12_2 " data-name="Component 12 – 2 " xmlns="http://www.w3.org/2000/svg " width="100 " height="100 " viewBox="0 0 100 100 ">
                <g id="Ellipse_10 " data-name="Ellipse 10 " fill="none " stroke="#e2e2e2 " stroke-width="3 ">
                    <circle cx="50 " cy="50 " r="50 " stroke="none "/>
                    <circle cx="50 " cy="50 " r="48.5 " fill="none "/>
                </g>
                <path id="Icon_awesome-users " data-name="Icon awesome-users " d="M5.357,12.964A3.571,3.571,0,1,0,1.786,9.393,3.575,3.575,0,0,0,5.357,12.964Zm25,0a3.571,3.571,0,1,0-3.571-3.571A3.575,3.575,0,0,0,30.357,12.964Zm1.786,1.786H28.571a3.561,3.561,0,0,0-2.517,1.038,8.163,8.163,0,0,1,4.191,6.1h3.683a1.784,1.784,0,0,0,1.786-1.786V18.321A3.575,3.575,0,0,0,32.143,14.75Zm-14.286,0a6.25,6.25,0,1,0-6.25-6.25A6.247,6.247,0,0,0,17.857,14.75Zm4.286,1.786H21.68a8.629,8.629,0,0,1-7.645,0h-.463a6.43,6.43,0,0,0-6.429,6.429v1.607A2.679,2.679,0,0,0,9.821,27.25H25.893a2.679,2.679,0,0,0,2.679-2.679V22.964A6.43,6.43,0,0,0,22.143,16.536ZM9.66,15.788A3.561,3.561,0,0,0,7.143,14.75H3.571A3.575,3.575,0,0,0,0,18.321v1.786a1.784,1.784,0,0,0,1.786,1.786H5.463A8.183,8.183,0,0,1,9.66,15.788Z
            " transform="translate(32.152 35.288) " fill="none " stroke="#f73dc6 " stroke-width="1 "/>
            </svg>   
        </figure>
        <figure>
            <svg id="Component_11_2 " data-name="Component 11 – 2 " xmlns="http://www.w3.org/2000/svg " width="100 " height="100 " viewBox="0 0 100 100 ">
                <g id="Chart " transform="matrix(0.946, 0.326, -0.326, 0.946, 20.422, 9.248) ">
                    <g id="m1 ">
                    <path id="Path_3 " data-name="Path 3 " d="M0,56.422c2.379-9.534,4.758-19.068,7.136-22.809s4.758-1.689,7.136,4.6,4.758,16.821,7.136,18.207,4.758-6.373,7.136-16.406S33.3,17.674,35.682,20.008s4.758,19.31,7.136,22.809,4.758-6.48,7.136-13.805,4.758-12,7.136-13.605,4.758-.148,7.136,4.6,4.758,12.79,7.136,10S76.121,13.613,78.5,0
            " transform="translate(0 0) " fill="none " stroke="#34e0e7 " stroke-width="2 "/>
                    </g>
                </g>
                <g id="Ellipse_3 " data-name="Ellipse 3 " fill="none " stroke="#e2e2e2 " stroke-width="3 ">
                    <circle cx="50 " cy="50 " r="50 " stroke="none "/>
                    <circle cx="50 " cy="50 " r="48.5 " fill="none "/>
                </g>
            </svg>   
        </figure>
        <figure>
            <svg id="Component_15_2 " data-name="Component 15 – 2 " xmlns="http://www.w3.org/2000/svg " width="100 " height="100 " viewBox="0 0 100 100 ">
                <g id="Ellipse_4 " data-name="Ellipse 4 " fill="none " stroke="#e2e2e2 " stroke-width="3 ">
                    <circle cx="50 " cy="50 " r="50 " stroke="none "/>
                    <circle cx="50 " cy="50 " r="48.5 " fill="none "/>
                </g>
                <g id="Icon_feather-tv " data-name="Icon feather-tv " transform="translate(34 29.211) ">
                    <path id="Path_4 " data-name="Path 4 " d="M6.279,10.5H32.51c1.811,0,3.279,1.94,3.279,4.333V38.667C35.789,41.06,34.321,43,32.51,43H6.279C4.468,43,3,41.06,3,38.667V14.833C3,12.44,4.468,10.5,6.279,10.5Z " transform="translate(-3 -2.211)
            " fill="none " stroke="#ebcd06 " stroke-linecap="round " stroke-linejoin="round " stroke-width="2 "/>
                    <path id="Path_5 " data-name="Path 5 " d="M25.5,3,18,10.5,10.5,3 " transform="translate(-1.605 -3) " fill="none " stroke="#ebcd06 " stroke-linecap="round " stroke-linejoin="round " stroke-width="2 "/>
                </g>
            </svg>
        </figure>
        <figure>
            <svg id="Component_16_2 " data-name="Component 16 – 2 " xmlns="http://www.w3.org/2000/svg " width="100 " height="100 " viewBox="0 0 100 100 ">
                <g id="Ellipse_9 " data-name="Ellipse 9 " fill="none " stroke="#e2e2e2 " stroke-width="3 ">
                    <circle cx="50 " cy="50 " r="50 " stroke="none "/>
                    <circle cx="50 " cy="50 " r="48.5 " fill="none "/>
                </g>
                <g id="Column_Chart3 " data-name="Column Chart3 " transform="translate(28.48 29.768) ">
                    <g id="m1 ">
                    <rect id="Rectangle_21 " data-name="Rectangle 21 " width="2.816 " height="11.914 " transform="translate(0 29.086) " fill="#e93939 "/>
                    <rect id="Rectangle_22 " data-name="Rectangle 22 " width="2.816 " height="15.65 " transform="translate(5.632 25.35) " fill="#e93939 "/>
                    <rect id="Rectangle_23 " data-name="Rectangle 23 " width="2.816 " height="34.43 " transform="translate(11.265 6.57) " fill="#e93939 "/>
                    <rect id="Rectangle_24 " data-name="Rectangle 24 " width="2.816 " height="41 " transform="translate(16.897) " fill="#e93939 "/>
                    <rect id="Rectangle_25 " data-name="Rectangle 25 " width="2.816 " height="31.3 " transform="translate(22.529 9.7) " fill="#e93939 "/>
                    <rect id="Rectangle_26 " data-name="Rectangle 26 " width="2.816 " height="33.579 " transform="translate(28.162 7.421) " fill="#e93939 "/>
                    <rect id="Rectangle_27 " data-name="Rectangle 27 " width="2.816 " height="37.495 " transform="translate(33.794 3.505) " fill="#e93939 "/>
                    <rect id="Rectangle_28 " data-name="Rectangle 28 " width="2.816 " height="10.688 " transform="translate(39.426 30.312) " fill="#e93939 "/>
                    </g>
                </g>
            </svg>                  
        </figure>
        <figure>
            <svg id="Component_17_2 " data-name="Component 17 – 2 " xmlns="http://www.w3.org/2000/svg " width="100 " height="100 " viewBox="0 0 100 100 ">
                <g id="Ellipse_7 " data-name="Ellipse 7 " fill="none " stroke="#e2e2e2 " stroke-width="3 ">
                    <circle cx="50 " cy="50 " r="50 " stroke="none "/>
                    <circle cx="50 " cy="50 " r="48.5 " fill="none "/>
                </g>
                <path id="Icon_material-error-outline " data-name="Icon material-error-outline " d="M16.5,22.5h3v3h-3Zm0-12h3v9h-3ZM17.985,3A15,15,0,1,0,33,18,14.993,14.993,0,0,0,17.985,3ZM18,30A12,12,0,1,1,30,18,12,12,0,0,1,18,30Z " transform="translate(32
            32) " fill="#05b396 "/>
            </svg>     
        </figure>
    </nav>
</main>
@section Scripts {
    <script src="~/assets/lib/jquery.js "></script>
    <script src="~/assets/lib/jquery.nicescroll.min.js "></script>
    <script src="~/assets/scripts/app.js"></script>
    <script>
        $(function() {
            $("#inputs-items").niceScroll(
                {
                    cursorcolor: "#444c8c",
                    cursorwidth: "10px",
                    cursorborder: "var(--background-primary-dark-color)"
                }
            );
        });
    </script>
}