<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/assets/style/base.css">
    @RenderSection("Styles", required: false)
    <title>StreamBox - @ViewData["Title"]</title>
</head>
<body>
    <div class="main-wrapper">

        <header class="main-header">
            <div class="logo-container">
                <img src="~/assets/icons/logo.png" alt="Straming King Logo" class="logo">
                <label>StreamBox</label>
            </div>
            <div class="profile-container">
                <figure></figure>
                <div class="profile-photo-container">
                    <img src="~/assets/icons/profile-photo.jpg" class="profile-photo">
                </div>
                <figure></figure>
            </div>
            <div class="helper-stuff">
                <img src="~/assets/icons/expand.png" alt="Expand Icon">
                <img src="~/assets/icons/messages.png" alt="messages Icon">
                <img src="~/assets/icons/contact us.png" alt="Contact Us Icon">
            </div>
        </header>
        @RenderBody()
    </div>
    <footer>
        All Rights Reserved @DateTime.Now.Year
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>